
//colours
$dark-blue: #5F96FE;
$pink: #FFAAF5;
$medium-blue: #84AEFF;
$light-blue:#D2E8FE;
$dark-grey:#707070;

//font
$heading-text-color: $dark-blue;
$heading-font-family: "abril-fatface", serif;
$heading-font-weight: 400;
$heading-font-style: normal;

$body-text-color: $dark-grey;
$body-font-family: "korolev", sans-serif;
$body-font-weight: 300;
$body-font-style: italic; 
